body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.initial_post {
    margin: 20px;
}
h1 {
    font-size: 20px;
    color: gray;
}
h2 {
    font-size: xx-large;
}
.submit_comment {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    

}
#submit {
    color: blue;
}
#comment {
    padding-right: 60%;
    margin: 0px 5px;
}
.containForComment {
    background-color: lightgrey;
    margin: 20px;
    border-radius: 12px;

}
.edit_butt, .delete_butt {
    color: #55f;
}
.submittedComment {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.edit_input {
    display: flex;
    justify-content: flex-end;
}

.no_display {
    display: none;
} 
